<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bangunankita">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon4apl"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon4apl"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Editplafon"
            android:label="Edit Plafon"
            android:theme="@style/AppTheme.NoActionBarperhitungan"></activity>
        <activity android:name=".Editbeton" />
        <activity android:name=".Editpengecatan"
            android:label="Edit Pengecatan"
            android:theme="@style/AppTheme.NoActionBarperhitungan"/>
        <activity
            android:name=".Editpondasi"
            android:label="Edit Pondasi"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Settingprofile"
            android:label="Setting Profile"
            android:parentActivityName=".Profile"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Profile"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Tambahbeton"
            android:label="Tambah Beton"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Perhitunganbeton"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity android:name=".Resetpass" />
        <activity
            android:name=".Tambahplafon"
            android:label="Tambah Plafon"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity android:name=".Tambahatap"
            android:theme="@style/AppTheme.NoActionBarperhitungan"/>
        <activity android:name=".Perhitunganatap"
            android:theme="@style/AppTheme.NoActionBarperhitungan"/>
        <activity
            android:name=".Tambahpondasi"
            android:label="Tambah Pondasi"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".PerhitunganPondasi"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Tambahpengecatan"
            android:label="Tambah Pengecatan"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity android:name=".Rincianbidang" />
        <activity
            android:name=".Perhitunganpengecatan"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Perhitunganplafond"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity android:name=".Panduanacian" />
        <activity
            android:name=".Editlantai"
            android:label="Edit Lantai"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Editacian"
            android:label="Edit Acian"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Editurugan"
            android:label="Edit Urugan"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Editplesteran"
            android:label="Edit Plesteran"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Editbidang"
            android:label="Edit Bidang"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Tambahurugan"
            android:label="Tambah Urugan"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Tambahlantai"
            android:label="Tambah Lantai"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Tambahacian"
            android:label="Tambah Acian"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Tambahplesteran"
            android:label="Tambah Plesteran"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Perhitunganurugan"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Perhitunganlantai"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Perhitunganacian"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Perhitunganplesteran"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Panduanapl"
            android:label="Panduan Aplikasi"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Perhitunganbidang"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Tambahbidang"
            android:label="Tambah Bidang"
            android:parentActivityName=".Perhitunganbidang"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".MenuProyek"
            android:theme="@style/AppTheme.NoActionBarperhitungan" />
        <activity
            android:name=".Edit_Proyek"
            android:label="Edit Proyek"
            android:parentActivityName=".Dashboard"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Add_Proyek"
            android:label="Buat Proyek"
            android:parentActivityName=".Dashboard"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".Dashboard"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.darks" />
        <activity
            android:name=".Register"
            android:label="Registrasi"
            android:parentActivityName=".Login"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>